---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-4xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">
      R312 TP4 Penguins
    </h1>

    <div class="flex flex-wrap gap-4 justify-center mb-8">
      <select
        id="species"
        class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="">All species</option>
        <option value="Adelie">Adelie</option>
        <option value="Chinstrap">Chinstrap</option>
        <option value="Gentoo">Gentoo</option>
      </select>

      <select
        id="island"
        class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="">All islands</option>
        <option value="Biscoe">Biscoe</option>
        <option value="Dream">Dream</option>
        <option value="Torgersen">Torgersen</option>
      </select>

      <select
        id="sex"
        class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="">All sex</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>

      <a href="/pizza" class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm hover:outline-none hover:ring-2 hover:ring-blue-500">PIZZAS</a>
    </div>


    <div
      id="myplot"
      class="bg-white shadow-md rounded-lg p-4 border border-gray-200 flex justify-center"
    ></div>
  </div>
</Layout>

<script>
  import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
  import penguins from "../assets/penguins.json";

  const selectSpecies = document.querySelector("#species");
  const selectIsland = document.querySelector("#island");
  const selectSex = document.querySelector("#sex");

  function renderPlot() {
    const species = selectSpecies.value;
    const island = selectIsland.value;
    const sex = selectSex.value;
    const div = document.querySelector("#myplot");
    div.innerHTML = "";

    const plot = Plot.plot({
      marginLeft: 50,
      marginBottom: 50,
      grid: true,
      marks: [
        Plot.dot(penguins, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
          filter: (d) =>
            (species === "" || d.species === species) &&
            (island === "" || d.island === island) &&
            (sex === "" || d.sex === sex),
        }),
      ],
    });
    div.append(plot);
  }

  selectSpecies.addEventListener("change", renderPlot);
  selectIsland.addEventListener("change", renderPlot);
  selectSex.addEventListener("change", renderPlot);

  renderPlot();
</script>
